<!DOCTYPE html>
<html lang="en">

<head>
  {% include meta.html %}
  <title>{{ page.title }} - {{ site.author_name }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <script src="{{ site.baseurl }}/assets/js/main.js" defer></script>
  <script src="{{ site.baseurl }}/assets/js/color_mode_toggler.js" defer></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4 sticky-top">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.author_name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ site.author_name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              {% for item in site.data.navigation.navigations %}
              <li class="nav-item">
                <a class="nav-link {% if page.url == item.url %}active{% endif %}"
                  aria-current="{% if page.url == item.url %}page{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{
                  item.title }}</a>
              </li>
              {% endfor %}
              <li class="nav-item dropdown">
                <button class="btn btn-link nav-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="false"
                  data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                  <svg class="visually-hidden bi theme-icon-active">
                    <use href="#moon-stars-fill"></use>
                  </svg>
                  <span id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text" data-bs-popper="static">
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="light" aria-pressed="false">
                      <svg class="visually-hidden bi opacity-50">
                        <use href="#sun-fill"></use>
                      </svg>
                      Light
                      <svg class="visually-hidden bi d-none">
                        <use href="#check2"></use>
                      </svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item active" data-bs-theme-value="dark" aria-pressed="false">
                      <svg class="visually-hidden bi opacity-50">
                        <use href="#moon-stars-fill"></use>
                      </svg>
                      Dark
                      <svg class="visually-hidden bi d-none">
                        <use href="#check2"></use>
                      </svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="false">
                      <svg class="visually-hidden bi opacity-50">
                        <use href="#circle-half"></use>
                      </svg>
                      Auto
                      <svg class="visually-hidden bi d-none">
                        <use href="#check2"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
    {{ content }}
  </main>
  <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; {{ site.author_name }}</span>
    </div>
  </footer>
</body>

</html>