<!DOCTYPE html>
<html lang="en">

<head>
  {% include meta.html %}
  <title>{{ page.title }} - {{ site.author_name }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pygments-darcula.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-top-margin.css">
  <script src="{{ site.baseurl }}/assets/js/main.js" defer></script>
  <script src="{{ site.baseurl }}/assets/js/color_mode_toggler.js" defer></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.author_name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ site.author_name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              {% for item in site.data.navigation.navigations %}
              <li class="nav-item">
                <a class="nav-link {% if page.url == item.url %}active{% endif %}"
                  href="{{ site.baseurl }}{{ item.url }}" {% if page.url==item.url %}aria-current="page" {% endif %}>
                  {{ item.title }}
                </a>
              </li>
              {% endfor %}
              <li class="nav-item dropdown">
                <button class="btn btn-link nav-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="false"
                  data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                  <svg class="visually-hidden bi theme-icon-active">
                    <use href="#moon-stars-fill"></use>
                  </svg>
                  <span id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text" data-bs-popper="static">
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="light" aria-pressed="false">
                      <svg class="visually-hidden bi opacity-50">
                        <use href="#sun-fill"></use>
                      </svg>
                      Light
                      <svg class="visually-hidden bi d-none">
                        <use href="#check2"></use>
                      </svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item active" data-bs-theme-value="dark" aria-pressed="false">
                      <svg class="visually-hidden bi opacity-50">
                        <use href="#moon-stars-fill"></use>
                      </svg>
                      Dark
                      <svg class="visually-hidden bi d-none">
                        <use href="#check2"></use>
                      </svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="false">
                      <svg class="visually-hidden bi opacity-50">
                        <use href="#circle-half"></use>
                      </svg>
                      Auto
                      <svg class="visually-hidden bi d-none">
                        <use href="#check2"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{{ site.baseurl }}/assets/svgs/{{ page.thumbnail }}" class="d-block mx-lg-auto img-fluid"
            alt="{{ page.title }}" width="700" height="500" loading="lazy"
            style="aspect-ratio: 144 / 103; max-height: 309px;">
        </div>
        <div class=" col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            {{ page.title }}
          </h1>
          <p class="lead">
            {{ page.description }}
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ site.github.repository_url }}" role="button"
              class="btn btn-primary btn-lg px-4 me-md-2">GitHub</a>
            <div class="dropdown">
              <button class="btn btn-outline-secondary btn-lg px-4 dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">Download</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{{ site.github.zip_url }}" role="button">Download
                    .zip</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ site.github.tar_url }}" role="button">Download
                    .tar.gz</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </header>
  <main class="container">
    <div class="position-fixed z-3 bottom-0 end-0 mb-3 me-3">
      <a class="btn btn-bd-primary" role="button" href="#">
        Back to Top
      </a>
    </div>
    <article>
      {{ content }}
    </article>
  </main>
  <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; {{ site.author_name }}</span>
    </div>
  </footer>
</body>

</html>