---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ site.baseurl }}{% link blog.md %}">Blog</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ page.title }}
        </li>
    </ol>
</nav>

<h2>Post Metadata</h2>
<p class="text-body-secondary">Written on {{ page.date | date: "%B %e, %Y" }}</p>

<div class="row gx-5">
    <div class="col-md-4 order-md-2">
        <div class="sticky-md-top">
            <h2 class="mt-5 mt-md-0 pt-md-5">Contents</h2>
            {% include toc.html html=content class="list-group list-group-flush border-start border-2"
            item_class="list-group-item border-start"
            submenu_class="list-group list-group-flush" anchor_class="link-body-emphasis link-underline-opacity-0" %}
        </div>
    </div>
    <div id="post-content-container" class="col-md-8 order-md-1">
        {{ content }}
    </div>
</div>