---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ site.baseurl }}{% link blog.md %}">Blog</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ page.title }}
        </li>
    </ol>
</nav>

<h2>Post Metadata</h2>
<p class="text-body-secondary">Written on {{ page.date | date: "%B %e, %Y" }}</p>

<div class="d-flex flex-column flex-md-row-reverse">
    <div class="sticky-md-top flex-shrink-0 align-self-md-start ms-md-5">
        <h2 class="mt-5">Contents</h2>
        {% include toc.html html=content submenu_class="list-group list-group-flush" class="list-group list-group-flush"
        item_class="list-group-item" anchor_class="link-body-emphasis link-underline-opacity-0" %}
    </div>
    <div id="post-content-container" class="flex-grow-1">
        {{ content }}
    </div>
</div>