---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ site.baseurl }}{% link blog.md %}">Blog</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ page.title }}
        </li>
    </ol>
</nav>

<h2>Post Metadata</h2>
<p class="text-body-secondary">Written on {{ page.date | date: "%B %e, %Y" }}</p>
<p class="text-body-secondary">Reading time {{ page.reading_time }}</p>

<h2>Contents</h2>
{% include toc.html html=content %}

<div id="post-content-container">
    {{ content }}
</div>